.nav {
  position: fixed;
  bottom: 40px;
  right: var(--grid-padding);
  z-index: 100;
}

.nav__inner {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (max-width: 600px) {
  .nav {
    right: var(--grid-padding);
    bottom: 24px;
  }

  .nav__inner {
    gap: 8px;
  }
}
